/******************************************************************

Stylesheet: BASE

******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {
	background: $white;// url(../img/bg_rhythm.gif) repeat center top;
}

::selection { background: $link_color; color: $black !important; text-shadow: none; }

hr {
	display: block;
	height: 0;
	border: 0;
	border-top: 1px solid $gray_light;
	border-bottom: 1px solid $white;
	margin: 0 0 1em;
	padding: 0;
}


/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	//width: 96%;
	@extend .cf;
	margin: 0 auto;
	max-width: 1024px;
	padding: 0 $gutter;
}


/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $link_color;
	text-decoration: none;

	&:hover, &:focus {
		color: $link_hover;
	}

	/* on click */
	&:active {
		color: darken($link_hover, 10%);
	}

	/* mobile tap color */
	&:link {
		-webkit-tap-highlight-color : rgba( $link_color, 0.5 );
	}
}


/*********************
POSTS & CONTENT STYLES
*********************/

#content {
	padding-top: $margin;
}

@include breakpoint(medium)
{
	#main {
		@include grid_col(large);
		margin-bottom: 0;
	}
}

.hentry {}

.single-title,
.page-title,
.entry-title {}

/* post meta */
.byline {
	color: $gray;
	font-style: italic;
	margin: 0;
}

.entry-content {}