/******************************************************************

Stylesheet: BASE

******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {
	background: $white;// url(../img/bg_rhythm.gif) repeat center top;
}

::selection { background: $link_color; color: $black !important; text-shadow: none; }

hr {
	display: block;
	height: 0;
	border: 0;
	border-top: 1px solid $gray_light;
	border-bottom: 1px solid $white;
	margin: 0 0 1em;
	padding: 0;
}


/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	//width: 96%;
	@extend .cf;
	margin: 0 auto;
	max-width: 1024px;
	padding: 0 $gutter;
}


/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $link_color;
	text-decoration: none;

	&:hover, &:focus {
		color: $link_hover;
	}

	/* on click */
	&:active {
		color: darken($link_hover, 10%);
	}

	/* mobile tap color */
	&:link {
		-webkit-tap-highlight-color : rgba( $link_color, 0.5 );
	}
}


/*********************
POSTS & CONTENT STYLES
*********************/

#content {
	padding-top: $margin;
}

@include breakpoint(medium)
{
	#main {
		@include grid_col(large);
		margin-bottom: 0;
	}
}

.hentry {}

.single-title,
.page-title,
.entry-title {}

/* post meta */
.byline {
	color: $gray;
	font-style: italic;
	margin: 0;
}

.entry-content {}


/*********************
GRID EXAMPLES
*********************/

body.home {
	@include breakpoint(medium)
	{
		#main {
			@include grid_col(all);
		}
	}
}

@mixin grid_item {
	background: $black;
	color: $white !important;
	min-height: 10px;
	outline: 1px solid yellow;
	padding: 5px 10px;
}

#classes,
#classes_full {
	@extend .cf;
	background: #ffd100;
	margin-bottom: $margin;
	> div > div {
		@include grid_item;
	}
}

#classes_overflow {
	margin-bottom: $margin;
	> div {
		@extend .cf;
		background: #ffd100;
		> div > div {
			@include grid_item;
		}
	}
}

.grid_container {
	@extend .cf;
	background: #ffd100;
	margin-bottom: $margin;
	//padding: 1em;
	> div > div {
		@include grid_item;
	}
}

#grid_col_2 {
	> div {
		@include grid_col(1,2);
	}
}
#grid_col_2_12 {
	> div {
		@include grid_col(1);
	}
}
#grid_col_2_12_fl {
	> div:first-child {
		@include grid_col(1,12,'first');
	}
	> div:last-child {
		@include grid_col(1,12,'last');
	}
}

#grid_col_3 {
	> div {
		@include grid_col(1,3);
	}
}
#grid_col_3_12 {
	> div {
		@include grid_col(1);
		&:first-child {
			@include grid_col(1,12,2,2);
		}
	}
}

#grid_col_4 {
	> div {
		@include grid_col(1,4);
	}
}

#grid_col_6 {
	> div {
		@include grid_col(1,6);
	}
}

#grid_col_12 {
	> div {
		@include grid_col(1);
	}
}

#flex_grid_auto {
	@include flex_grid_auto(12);
}

#flex_grid_auto_6 {
	@include flex_grid_auto(6);
}
/**/