/******************************************************************

Stylesheet: Footer

******************************************************************/

#footer {
	clear: both;
	background-color: $black;
	color: $gray_light;

	.copyright {
		@include grid_col(all);
		clear: both;
	}
}