/******************************************************************

Stylesheet: Header

******************************************************************/

#header {
	background: $black;

	#inner-header {
		position: relative;
	}

	#logo {
		margin: $margin $margin $margin $gutter;
	}
}