/******************************************************************

Stylesheet: Navigation

******************************************************************/


/*********************
NAVIGATION STYLES
*********************/

nav {
	margin: 0;

	li {
		a, a:visited {
			display: block;
			text-decoration: none;
			padding: $gutter;
		}

		&:hover > a, &:hover > a:visited,
		a:hover, a:focus {
			background: $link_hover;
			color: $white;
		}

		ul.sub-menu,
		ul.children {
			li {
				a, a:visited {
					padding-left: 30px;
				}

			}

		}

	}

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current-page-ancestor {

		a {}

	}

	@include breakpoint(medium)
	{
		li {
			float: left;
			position: relative;

			ul.sub-menu,
			ul.children {
				background: $black;
				overflow: hidden;
				position: absolute;
				visibility: hidden;
				z-index: 8999;

				li {
					a, a:visited {
						padding-left: 10px;
						border-right: 0;
						display: block;
						width: 180px;
					}
				}
			}

			/* showing sub-menus */
			&:hover ul {
				top: auto;
				overflow: visible;
				visibility:visible;
			}
		}
	}

}


/*********************
Side Drawer Mobile Nav
*********************/

$drawer_width: 300px;

body.drawer-nav {

	#mobile-nav {
		color: $link_color;
		cursor: pointer;
		display: block;
		float: left;
		font-size: $margin;
		height: $margin*2;
		left: 0;
		line-height: $margin*2;
		padding: 0;
		position: absolute;
		overflow: hidden;
		text-align: center;
		text-decoration: none;
		top: 0;
		transition: all 0.3s ease-in-out;
		width: $margin*2;
		z-index: 900;

		&.active {
			background: $black;
			color: $white;
		}
	}

	#side-drawer {
		background-color: $black;
		bottom: 0;
		box-shadow: inset 0 0 20px 0 rgba( 0, 0, 0, 0.1 );
		position: fixed;
		left: 0;
		text-align: left;
		top: 0;
		transform: translateX(-#{$drawer_width});
		width: $drawer_width;
		z-index: 9999;
	}

	#nav-overlay {
		background-color: $white;
		bottom: 0;
		display: none;
		left: 0;
		opacity: 0;
		position: absolute;
		right: 0;
		top: 0;
		transition: opacity 0.5s ease-in-out;
		z-index: 800;
	}

	#container {
		transition: transform 0.2s ease-in-out;
	}

	// Toggle Mobile ON/OFF
	@include breakpoint(medium)
	{
		#side-drawer {
			margin: 0 auto;
			position: relative;
			top: 0;
			transform: none;
			transition: none;
			width: 100%;
			z-index: 1;

			.nav-primary {
				margin-left: auto;
				margin-right: auto;
			}
		}

		#nav-overlay,
		#mobile-nav {
			display: none !important;
		}

		#main-nav {
			display: block !important;
		}

	}

}

	.open-drawer {
		#container {
			transform: translateX($drawer_width);
		}

		.nav {
			li a {
				text-align: left !important;
			}
		}

		#nav-overlay {
			display: block;
			opacity: 0.5;
		}

		// Toggle Mobile ON/OFF
		@include breakpoint(medium)
		{
			#container {
				transform: none;
			}

			#nav-overlay {
				display: none;
			}
		}
	}


/*********************
Simple Mobile Nav
*********************/

body.slide-nav {

	#mobile-nav {
		display: block;
		float: right;
		text-align: right;
		text-decoration: none;
		color: $link_color;
		cursor: pointer;
		font-size: 1.125em;
		&:hover, &:focus {
			color: $link_hover;
		}
	}

	#side-drawer {
		overflow: hidden;
		max-height: 0;
		transition-property: all;
		transition-duration: 0.5s;
		transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

		&.active {
			max-height: 50rem;
			transition-timing-function: ease-in;
		}
	}

	@include breakpoint(medium)
	{
		#mobile-nav {
			display: none;
		}

		#side-drawer {
			//display: block !important;
			max-height: 100px;
		}
	}

}