/******************************************************************

Stylesheet: Navigation

******************************************************************/

#sidebar {
	@include grid_col(small);

	.side-content {
		background: $black;
		color: $white;
		padding: $margin;
	}

	h4 {
		margin-bottom: 0;
	}

	ul, li {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	ul {
		margin-bottom: $margin;
	}
}